.snippet {
	display: block;
	margin: auto;
	width: 600px;
	padding: 1em;
	background: #500;
	border-width: 1px;
	border-style: solid;
	border-color: #400 #700 #700 #400;
}

pre code {
	font: normal 10pt Consolas, Monaco, monospace;
	display: block;
	margin:auto;
}
